<app-default-login-layout title="Sign in and start today!" primaryBtnText="Signup Now" secondaryBtnText="Login Now" (submit)="submit()" (navigate)="navigate()" [disablePrimaryBtn]="!signupForm.valid">
    <form [formGroup]="signupForm">
        <app-primary-input formControlName="name" inputName="name" label="Your name" type="text" placeholder="john Doe">
            <img src="assets/svg/email-icon.svg" />
        </app-primary-input>
        <app-primary-input formControlName="email" inputName="email" label="Email" type="email" placeholder="johndoe@gmail.com">
            <img src="assets/svg/email-icon.svg" />
        </app-primary-input>
        <app-primary-input formControlName="password" inputName="password" label="Your Password" type="password" placeholder="Enter your Password">
            <img src="assets/svg/password-icon.svg" />
        </app-primary-input>
        <app-primary-input formControlName="passwordConfirm" inputName="passwordConfirm" type="password" placeholder="Repeat your Password">
            <img src="assets/svg/password-icon.svg" />
        </app-primary-input>
    </form>
</app-default-login-layout>